extends ../../app/pug/layout

mixin todo__item(item, index)
  .todo__item
      input(id=`checkbox-${index}` class="todo__input" type='checkbox')
      label.todo__label(for=`checkbox-${index}`)
        span.todo__span= item

block title
    | ToDo

block content
    - var itemArr = ["Пройти стажировку","Побриться","Купить молоко","Не забыть забрать сына из садика","Купить сыр"]
    main(data-barba="container" data-barba-namespace="index")
        .wrapper_index
            .todo__list
                each item, index in itemArr
                    +todo__item(item, index)

            .todo__button--add
                button.todo__button  